<nav>
  <div class="navbar-container">
    <%= link_to "cocktails", cocktails_path, class: "navbar-title" %>
    <%= link_to "add a cocktail", new_cocktail_path, class: "btn-orange hidden-xs" %>
    <%= link_to '<i class="fal fa-plus"></i><i class="far fa-cocktail"></i>'.html_safe, new_cocktail_path, class: "btn-orange visible-xs" %>
  </div>
</nav>
