<nav>
  <div class="navbar-container">
    <%= link_to "mr. cocktail", cocktails_path, class: "navbar-title" %>
    <%= link_to "add a cocktail", new_cocktail_path, class: "btn-orange hidden-xs" %>
    <%= link_to new_cocktail_path, class: "btn-orange visible-xs" do %>
      <i class="fas fa-plus"></i><i class="fas fa-cocktail"></i>
    <% end %>
  </div>
</nav>
